@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #search {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
</style>
@model List<MovieManagementFrontEnd.ViewModels.MovieViewModel>
@{
    int total = 0;
    if (Model != null)
    {
        var totalInit = Model[0].Total / 9;
        var totalRemainder = Model[0].Total % 9;
        if (totalRemainder > 0)
        {
            total = totalInit + 1;
        }

    }
}
<input type="text" id="search" value="@ViewBag.Search" placeholder="Search">

<div class="container">

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="@item.MediaPath" alt="Movie Image"
                     style="width: 100%;
    height: 200px;
    object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Release Year: @item.CreatedDateTime.ToShortDateString()</p>
                        <a href="/Movie/ViewMovieById?id=@item.MovieId" class="btn btn-primary" id="detailsView" name="detailsView">View Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
    @* <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2iVYI99VGaw" allowfullscreen></iframe>
    </div>*@
    @*<iframe width="560" height="315" src="Uploads/Rc1.mp4" frameborder="0" allowfullscreen></iframe>*@

    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="justify-content: center">
                @for (int i = 1; i <= total; i++)
                {
                    var currentOffset = (i - 1) * 9;
                    <li class="page-item"><a class="page-link" href="/LandingPage/Index?limit=9&amp;offset=@currentOffset&amp;searchName=">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to update data based on search query
        function updateData(query) {
            $.ajax({
                url: '/LandingPage/Index',
                method: 'GET',
                data: {
                    limit: 20,
                    offset: 0,
                    searchName: query
                },
                success: function (response) {
                    // Update the content of the current page with the response
                    $('body').html(response);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        // Event handler for the search box
        $('#search').on('keydown', function (event) {
            if (event.keyCode === 13) {
                var query = $(this).val();
                updateData(query);
            }
        });
    });
</script>






